@font-face {
    font-family: 'EntypoSocialRegular';
    src: url('../images/fonts/entypo-social.eot');
    src: url('../images/fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/entypo-social.woff') format('woff'),
         url('../images/fonts/entypo-social.ttf') format('truetype'),
         url('../images/fonts/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
  color: #F7826B;
}

.link:hover {
  border-bottom: 2px solid #F7826B;
}

.social {
  display: block;
  float: left;
  padding-top: 40px;
}

.social a {
  padding: 0 .5em;
  text-align: center;
  display: inline-block;
}

[class^="i-"],
[class*=" i-"] {
  font-family: 'EntypoSocialRegular' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  font-size: 3em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

.i-twitter{ content:'\F309'; }
.i-c-twitter{ content:'\F30A'; }
.i-facebook{ content:'\F30C'; }
.i-c-facebook{ content:'\F30D'; }
.i-s-facebook{ content:'\F30E'; }
.i-dribbble{ content:'\F31B'; }
.i-c-dribbble{ content:'\F31C'; }
.i-instagram{ content:'\F32D'; }
.i-soundcloud{ content:'\F348'; }
.i-behance{ content:'\F34E'; }

body {
  background-color: rgb(255, 255, 255);
  font: 300 1em/2.2 Roboto;
  color: rgb(0,0,0);
}

li {
  float: left;
  width: 31.9791666666%;
  margin: 50px 0 0 1.9791666666%;
}

li:first-child {
  margin-left: 0;
}

.bio__copy {
  float: left;
  width: 75.3125%;
  margin: 60px 0 0 3.5416666666%;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

.bio__image {
  display: block;
  float: left;
  width: 16.6666666666%;
  height: auto;
  margin: 84px 0 0 1.6666666666%;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 300px;
  overflow: hidden;
}

.block-list {
  float: left;
  width: 100%;
  height: 433%;
  margin-top: 30px;
  padding-bottom: 60px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  display: block;
  position: absolute;
  top: 91px;
  left: 0;
  right: 0;
  z-index: 21;
  width: 25.5208333333%;
  height: 120px;
  margin: 0 auto;
  background-image: url('../images/persimmon_long_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.section__copy {
  width: 89.9022801302%;
  margin: 20px auto 0;
  font-weight: 400;
  line-height: 1.66;
  text-align: center;
  color: rgb(0,0,0);
}

.section__heading {
  width: 89.9022801302%;
  margin: 30px auto 0;
  font: 700 2.25em/1.38 'Roboto Condensed';
  text-align: center;
  color: rgb(0,0,0);
}

.section__image {
  display: block;
  width: 163px;
  height: auto;
  margin: 30px auto 0;
  border-radius: 100px;
  overflow: hidden;
}

.site-footer {
  width: 100%;
  max-width: 960px;
  height: 120px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.site-header {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.text {
  float: right;
  width: 162px;
  margin: 40px 2.8125% 0 0;
  font-weight: 400;
  line-height: 2;
  text-align: right;
  color: #f7826b;
}

._container {
  width: 100%;
  margin: 0 auto;
}

.container-1 {
  padding-bottom: 30px;
}

.container-2 {
  padding-bottom: 60px;
}

._container-1 {
  padding-top: 30px;
  background-color: #f6f7f4;
}

._container-2 {
  height: 423px;
  background-color: rgb(43, 51, 51);
}

@media(max-width: 825px) {
  li:first-child {
    margin-left: 0;
  }

  .block .section__copy {
    width: 90.1515151515%;
  }

  .block .section__heading {
    font-size: 1.75em;
  }

  ._container-2,
  .block .section__image {
    height: auto;
  }

  .block-list .block {
    width: 32%;
    margin-top: 0;
  }

  .container .bio__copy {
    width: 73.6969696969%;
    margin-top: 45px;
    margin-left: 5.0909090909%;
    font-size: 1.375em;
  }

  .container .bio__image {
    width: 16.7272727272%;
    height: auto;
    margin-top: 64px;
    margin-left: 1.6969696969%;
  }

  .container .block-list {
    margin-top: 0;
    padding-bottom: 30px;
  }

  .site-footer .text {
    margin-right: 2.7878787878%;
  }

  .site-header {
    height: 100px;
  }

  .site-header .logo {
    top: 41px;
    left: 0;
    right: 0;
    width: 25.5757575757%;
    margin-right: auto;
    margin-left: auto;
  }

  .block-2 {
    margin-left: 2.0606060606%;
  }

  .block-3 {
    margin-left: 1.9393939393%;
  }

  .container-2 {
    padding-bottom: 30px;
  }

  .section__heading-1,
  .section__heading-2 {
    width: 89.7727272727%;
  }

  .section__heading-3 {
    width: 90.1515151515%;
  }
}

@media(max-width: 642px) {
  body {
    font-size: 1em;
  }

  li:first-child {
    margin-left: 0;
  }

  .block .section__image {
    height: auto;
  }

  .block-list .block {
    width: 100%;
  }

  .container .bio__copy {
    float: none;
    width: 73.676012461%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.125em;
  }

  .container .bio__image {
    float: none;
    width: 25.3894080996%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .container .block-list {
    height: auto;
    margin-top: 30px;
  }

  .site-footer .text {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .site-header {
    height: 90px;
  }

  .site-header .logo {
    top: 30px;
    left: 0;
    right: 0;
    width: 25.5451713395%;
    margin-right: auto;
    margin-left: auto;
  }

  .block-2 {
    clear: both;
    margin-left: 2.0249221183%;
  }

  .block-3 {
    clear: both;
    margin-left: 0;
  }

  .section__copy-2,
  .section__copy-3,
  .section__heading-1,
  .section__heading-2 {
    width: 89.7196261682%;
  }

  .section__copy-1,
  .section__heading-3 {
    width: 90.1869158878%;
  }

  .social {
    float: none;
    text-align: center;
  }
}

@media(max-width: 500px) {
  .block .section__image {
    height: auto;
  }

  .container .bio__copy,
  .section__copy-1,
  .section__heading-1 {
    width: 90%;
  }

  .container .bio__image {
    width: 117px;
    height: auto;
  }

  .site-footer .text {
    margin-top: 30px;
  }

  .site-header {
    height: 60px;
  }

  .site-header .logo {
    top: 0;
    left: 0;
    right: 0;
    width: 128px;
    margin-right: auto;
    margin-left: auto;
  }

  .block-2 {
    margin-left: 2%;
  }

  .section__copy-2,
  .section__copy-3,
  .section__heading-2 {
    width: 89.8%;
  }

  .section__heading-3 {
    width: 90.2%;
  }
}